{% extends 'projects/base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
{{block.super}}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            {% for project in projects %}
                <img src="{{project.photo.url}}" class="card-img-top" alt="{{project.title}}">
                <div class="card-body">
                    <h5 class="card-title">{{project.title}}</h5>
                    <p class="card-text">{{project.description}}</p>
                    <a href="{{project.project}}" class="btn btn-primary">Live link</a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}