{% extends 'projects/base.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
{{block.super}}

<div class="container">
    <div class="row" >
        {% for project in projects %}
        <div class="col-md-4" style="margin-top:8%;margin-bottom:2% ; background-color: aliceblue; ">
            <img src="{{project.photo.url}}" class="card-img-top" alt="{{project.title}}"
                style="height:400px; width: 100%;">
            <div class="card-body">
                <h5 class="card-title">{{project.title}}</h5>
                <p class="card-text "><img src="{{project.user.profile.picture.url}}" class="nav-img mr-2" alt="">
                    By {{project.user.profile.username|title}} <span></span>


                </p>
                <p class="card-text">{{project.description|truncatewords:10}}</p>
            </div>

            <a class="btn btn-sm btn-outline-info" href="{% url 'project' project.id%}"> View</a>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}