{% extends 'projects/base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form action="{% url 'post' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form}}
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-sm" value="Submit">
                </div>

                <input type="hidden" name="next" value="{{index}}">
            </form>
        </div>
    </div>
    <div class="col-md-2"></div>

</div>
</div>

{% endblock %}